<style>
    .container{
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url('/Content/grummy.jpg');
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1{
        margin: 50px;
        text-align: center;
        font-size: 48px;
        color: white;
        opacity: 0.8;
    }
</style>

    <h1>Извините, но данной ссылки больше не существует...</h1>


